* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: auto;
    background-color: #353535;
    color: #f7f7f7;
    font-family: Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 40px;
    align-items: center;
}

.list {
    margin-top: 35px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10%;
    row-gap: 35px;
}

.card{
    width: 400px;
    height: 300px;
    background-color: #232323;
    color: #f7f7f7;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 65%;
}

.card__title{
    margin-top: 18px;
}

a{
    text-decoration: none;
}